@include media(min-width 600px) {
    .noAuth-header {
        img {
            max-width: 320px;
        }
    }
    .upcomming-requests {
        @include span-columns(5 of 10);
    }
    .hives-out {
        @include span-columns(5 of 10);
    }
    .show-menu {
        display: none;
    }
    .button {
        width: 30%;
    }
    .main-container {
        $max-width: 1000px;
        @include outer-container;
        float:none;
        section {
            // padding:2em 0;
            // background: rgba(200,200,200,.1);
            // > div {
            //     $max-width: 1000px;
            //     @include outer-container;
            //     padding: 0 2em;
            // }
        }
    }
    .main-menu {
        display: block;
        float: right;
        background: none;
        li {
            display: inline-block;
            border: 0;
        }
        a {
            padding: 1.2em 1em;
            display: block;
            font-size: .9em;
            &:hover {
                background: #FFF;
                color: $text;
            }
        }
        ul {
            margin-right: 15px;
        }
    }
    .logo {
        left: em(10px);
        transform: translate(0, -50%);
    }
    input.search {
        display: inline-block;
    }
    form.user,
    form.user-login,
    form.search,
    form.review,
    form.edit-account,
    form.new-user {
        @include span-columns(6);
        @include shift(3);
        input[name=city] {
            width: 60%;
            display: inline-block;
        }
        select[name=state] {
            width: 25%;
            display: inline-block;
        }
        input[name=zipCode] {
            width: 25%;
            display: inline-block;
        }
    }
    form.user-login {
        @include span-columns(4);
        @include shift(4);

    }
    form.search {
        @include span-columns(6 of 12);
    }
    .search-results-container {
        // @include outer-container;
    }
    #map {
        @include span-columns(8);
    }
    .search-results-users {
        @include span-columns(4);
    }
    
    .selected {
        .actions {
            right: 15px;
            top: 15px;
            transform: translate(0, 0);
        }
    }
    header {
        h2 {
            display: inline-block;
        }
    }
    .selected-nav {
        background: #FFF;
        color:$text !important;
        text-shadow: none !important;
    }
}