
footer {
    margin-top: em(20px);
    width: 100%;
    border-top: 3px solid #FFF;
    position: relative;
}

.footer-container {
    min-height: 50px;    
}


@include media(min-width 600px) {
    footer {
        .logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url(../images/logo.png) no-repeat;
            background-size: 150px 20px;
            width: 150px;
            height: 20px;
            text-indent: -9999px;
            a {
                display: block;
            }
        }
    }
    .footer-container {
        $max-width: 1000px;
        @include outer-container;
        position: relative;
    }
}