.landing {
    section {
        padding-bottom: em(25px);
    }
}

.requests-container {}

.near-users-container {}

.reviews-container {}

.hives-out {
    margin-top: 20px;
}

@include media(min-width 600px) {
    .hives-out {
        margin-top: 0;
    }
}