.message{
	p{
		margin-top:0;
	}
	.new-message{
		width: 100%;
	}
	.button{
		width:60%;
	}
}

.message-body{
	@extend .review-body;
	position: relative;

}

.reply{
	@extend .icon;
	background: none !important;
	position: absolute;
	top:12px;
	right:12px;
	color:$text !important;
	text-shadow: rgba(255,255,255,.5) !important;
	width:auto;
}

.message-date{
	@extend .review-date;
		@include span-columns(6);
		text-align: right;
}
.message-info{
	@include outer-container;
	margin: em(8px) em(10px);
	a{
		@include span-columns(6);
	}
}

.new-message{
	width:100%;
	input[type=submit]{
		text-align: center;
		width:100%;
	}
	margin-bottom: em(30px);

}

@include media(min-width 600px) {

	.received-messages{
		@include outer-container;
	}

	.received-messages,
	.sent-messages{
		@include span-columns(6);
	}

	.new-message{
		width:75%;
		input[type=submit]{
			text-align: left;
			width:60%;
		}
	}

}

