.request-container {
    > :first-child {
        margin-top: em(30px);
    }
}

.requests {
    margin-bottom: em(15px);
}

.request {
    position: relative;
    margin-bottom: em(20px);
    .details {
        border-radius: .2em;
    }
    .actions {
        display: none;
    }
    a {
        display: block;
        padding: em(15px) em(10px);
        &:hover {
            background: #FFF;
        }
    }
    button {
        width: 49%;
        margin-bottom: 10px;
        padding: 10px;
    }
    ul {
        margin-bottom: 20px;
    }
    &::after {
        @extend .icon;
        content: ">";
        position: absolute;
        right: em(10px);
        transform: translate(0, -50%);
        top: 50%;
    }
}

.request-list {
    // margin-bottom:em(30px);
}

.selected {
    .actions {
        right: 15px;
        top: 15px;
        transform: translate(0, 0);
    }
}

.cost-details {
    span {
        display: block;
        color: #999;
        font-size: 75%;
    }
}

.requestDetails {
    background: #ebebeb;
    padding: 10px;
    margin: 20px 0;
}

.accepted {
    background: RGBA(0, 115, 0, 0.1);
    transition: .2s;
}

.notAccepted {
    background: $action;
    transition: .2s;
}

.archived {
    background: RGBA(225, 225, 225, 0.4);
}

@include media(min-width 600px) {
    .request {
        margin: 0 0 em(10px) 0;
        position: relative;
        .actions {
            display: block;
        }
        &::after {
            display: none;
        }
        .actions {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translate(0, -50%);
            button {
                margin-bottom: 0;
                width: auto;
            }
        }
        ul {
            margin-bottom: 20px;
        }
        a{
            color:$text;
            border-radius: 3px;
            &:hover{
                background: $beekeeperPrimary;
                color:$text;
            }
        }
    }
}