.request-container {
    // > :first-child {
    //     margin-top: em(30px);
    // }
}

.requests {
    margin-bottom: em(15px);
}

.request {
    position: relative;
    margin-bottom: em(20px);
    .details {
        border-radius: .2em;
    }
    .actions {
        display: none;
    }
    a {
        display: block;
        padding: em(15px) em(10px);
        border-radius: 3px;
        &:hover {
            background: $beekeeperPrimary;
            color: $text;
            @extend .white-shadow;
        }
    }
    button {
        width: 49%;
        margin-bottom: 10px;
        padding: 10px;
    }
    ul {
        margin-bottom: 20px;
    }
    &::after {
        @include arrowRight($text);
    }
}

.request-list {
    // margin-bottom:em(30px);
}

.request-details {
    margin-bottom: 10px;
}

.selected {
    .actions {
        right: 15px;
        top: 15px;
        transform: translate(0, 0);
    }
}

.cost-details {
    span {
        display: block;
        color: #999;
        font-size: 75%;
    }
}

.accepted {
    background: RGBA(0, 115, 0, 0.1);
    transition: .2s;
}

.notAccepted {
    background: $action;
    transition: .2s;
}

.archived {
    background: RGBA(225, 225, 225, 0.4);
}

.upcoming-requests,
.hives-out {
    li {
        border-top: 1px solid #ebebeb;
        margin: 0;
        position: relative;
        &:last-child {
            border-bottom: 1px solid #ebebeb;
        }
        &::after {
            @include arrowRight(#cccccc);
            @extend .black-shadow;
        }
    }
    a {
        padding: 10px;
        display: block;
        border-radius: 0;
        &:hover {
            background: $beekeeperSecondary;
            border-radius: 0;
            color: #FFF;
            @extend .black-shadow;
        }
    }
}

    .getBees{
        width:100%;
        margin:20px 0;
    }

    .calculate-form{
        margin-bottom: em(30px);
    }

@include media(min-width 600px) {
    .request {
        margin: 0 0 em(10px) 0;
        position: relative;
        .actions {
            display: block;
        }
        &::after {
            display: none;
        }
        .actions {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translate(0, -50%);
            button {
                margin-bottom: 0;
                width: auto;
                display: inline-block;
            }
        }
        ul {
            margin-bottom: 20px;
        }
        a {
            color: $text;
            border-radius: 3px;
            &:hover {
                background: $beekeeperPrimary;
                color: $text;
            }
        }
    }
    .new-request {}
    .request-details-container {
        background: #ebebeb;
        padding: em(20px);
        margin: 20px 0;
        border-radius:3px;
        textarea, .request-dates{
            @include span-columns(6);
        }
        textarea{
            min-height:150px;
        }
    }
    .request-details-wrap{
        @include outer-container;
    }
    .getBees{
        width:40%;
        margin:20px 0;
    }
    .request-details{
        .sub-details-beekeeper li{
            background:#CCC;
        }
        li.total-cost{
            background: $beekeeperPrimary;
        }
    }
}