
.reviews {
    border-radius: .4em;
}

.review-list-item{
	margin-bottom:em(10px);
}

.review-body{
	margin: em(5px) 0 0 0;
	background: rgba(200,200,200,.2);
	padding:em(10px);
	border-radius:.2em;
	@extend .white-shadow;
}

.review-date{
    color:#999;
    font-size:80%;
}

.review-info{
	margin-left:em(10px);
	a,
	p{
		display: inline-block;
		vertical-align: middle;
	}
	a{
		font-weight: bold;
	}
	p{
		margin:0 0 0 em(10px);
	}
}