.sb-slidebar{
	background: $farmerSecondary;
	// border-right:3px $text solid;
	padding-top:50px;
}

.off-canvas{
	a{
		display: block;
		padding:15px 10px;
		//background: #ebebeb//#FFF;//$beekeeperPrimary;
		color:#FFF;
		@extend .black-shadow;
		&:hover{
			background: $beekeeperSecondary;
		}
		&:focus, &:active{
			background: #999;
		}
	}
	li{
		border-bottom:1px solid #FFF;
	}
}