.user-image {
    background-size: cover;
    background-position: center center;
    height: 200px;
}

.user-image.farmer {
    background-color: $farmerPrimary;
}

.user-image.beekeeper {
    background-color: $beekeeperPrimary;
}

.user-profile {
    margin-top: em(20px);
}

.business-name {
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1em;
}

.user{
	section{
		margin-bottom:em(30px);
	}
}