.user-image {
    background-size: cover;
    background-position: center center;
    height: 200px;
}

.user-image.farmer {
    background-color: $farmerPrimary;
}

.user-image.beekeeper {
    background-color: $beekeeperPrimary;
}

.user-profile {
    margin-top: em(20px);
}

.user-description{
	width:100%;
}


.business-name {
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1em;
}

.user{
	> div{
		margin-bottom:em(30px);
	}
}

@include media(min-width 600px) {
	.user-description{
		width:80%;
	}	
}

@include media(min-width 600px) {

    .business-name {
        font-size: 3.5em;
    }

}