@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

$text: rgba(75, 75, 75, 1);

$action: rgba(247, 122, 59, 0.15);

$farmerPrimary: rgba(90, 129, 107, 0.9);
$farmerSecondary: rgba(145, 115, 80, 1);
$farmerSecondarySubtle: rgba(145, 115, 80, 0.2);
$farmerText: $text;

$beekeeperPrimary: rgba(247, 171, 59, 0.9);
$beekeeperSecondary: rgba(90, 136, 184, 1);
$beekeeperSecondarySubtle: rgba(98, 152, 208, 0.2);

$subtleWarning: RGBA(170, 57, 57, 0.1);
$vividWarning: RGBA(128, 21, 21, 1);

$primary: RGBA(116, 150, 131, 1);

.white-shadow {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.black-shadow {
    text-shadow: 0 1px 0 rgba(50, 50, 50, 0.4);
}

@font-face {
    font-family: icons;
    src: url(../fonts/icons.ttf);
}


.sourceFont {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

@import "validation";

.icon {
    font-family: icons;
}

$gutter: 0;

body {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

form,
body,
ul,
input,
textarea,
select,
button {
    @extend .sourceFont;
    color: $text;
    @extend .white-shadow;
}

button {
    cursor: pointer;
    &:focus {
        outline: 0;
        border: 1px solid #CCC;
    }
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.main-title {
    font-size: 2em;
    margin-bottom: em(2px);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: $primary;
    text-decoration: none;
    transition: .2s;
    &:hover {
        text-shadow: none;
        transition: .2s;
    }
}

.hidden {
    display: none;
    height: 0;
    transition: .2s;
}

.showing {
    display: block;
    height: auto;
    transition: .2s;
}

.short-list {
    margin-bottom: em(15px);
}

.button {
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    display: block;
    &:hover {
        // @extend .white-shadow;
   
    }
}

// Beekeeper

.beekeeper-details {
    @include span-columns(10 of 10);
}

.hives-out {
    @include span-columns(10 of 10);
}

.beekeeper {
    header {
        border-top: 3px solid $beekeeperPrimary;
        background: $beekeeperPrimary;
        a {
            color: $text;
        }
    }
    .button, button {
        background: $beekeeperSecondary;
        color: #FFF;
        @extend .black-shadow;
        &:hover {
            background: $beekeeperPrimary;
            color: #FFF;
            @extend .black-shadow;
        }
    }
    a {
        color: $beekeeperSecondary;
    }
    .main-title {}
}

.farmer {
    color: $farmerText;
    header {
        border-top: 3px solid $farmerPrimary;
        background: $farmerPrimary;
        a {
            color: #FFF;
            @extend .black-shadow;
            &:hover {
                text-shadow: none;
            }
        }
    }
    .button, button {
        background: $farmerSecondary;
        color:#FFF;
        @extend .black-shadow;
        &:hover {
            background: $farmerPrimary;
            color: #FFF;
            @extend .black-shadow;
        }
    }
}

form.new-user,
form.edit-account,
form.user-login,
form.search,
form.review {
    margin-top: em(20px);
    @include span-columns(11);
    @include shift(0.5);
    input, select, textarea {
        width: 100%;
        display: block;
        padding: 1em;
        border-radius: 3px;
        border: 1px solid #CCC;
        margin-bottom: 10px;
        box-shadow: inset 2px 2px 4px rgba(200, 200, 200, 0.4);
        font-size: 1em;
        outline: 0;
        min-height: 2.75em;
    }
    input[type=submit] {
        @extend .white-shadow;
        cursor: pointer;
        background: $beekeeperPrimary;
        border: 0;
        font-size: 1.2em;
        color: $text;
        text-transform: uppercase;
        padding: .5em 1.5em;
    }
    select {
        height: 2.5em;
        background: #FFF;
    }
    label {
        margin-bottom: em(3px);
        font-weight: bold;
        display: block;
    }
    .detail {
        font-weight: normal;
        color: #999;
        font-size: 80%;
    }
}

.form-button{

}

// form.user-login {
//     input[type=submit] {
//         background: $farmerPrimary;
//         box-shadow: none;
//         color: #FFF;
//         @extend .black-shadow;
//     }
// }

form.search {
    input {
        display: inline-block;
        width: auto;
    }
}

form.edit-account .business-description{
    min-height: em(200px);
}

textarea {
    width: 100%;
    min-height: em(200px);
}

.search-container {}

form.search {
    @include span-columns(12);
    @include omega(0);
    @include shift(0);
}

.form-block {
    margin-bottom: em(50px);
}

.main-container {
    $max-width: 100%;
    margin-bottom: em(60px);
    @include outer-container;
    padding: 0 em(20px);
    // section {
    //     > div {
    //         padding: 1em;
    //     }
    // }
    button {
        padding: em(10px) em(20px);
        border-radius: 4px;
        border: none;
        transition: .2s;
        font-size: .8em;
        &:hover {
            transition: .2s;
        }
    }
}

.search {
    display: none;
}

.auth {
    span {
        vertical-align: middle;
    }
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: 0;
    @extend .white-shadow;
    &:hover {
        color: #FFF;
    }
    &::after {
        margin-left: .5em;
        @extend .icon;
        content: 's';
        font-size: 1.5em;
        vertical-align: middle;
    }
}

#map {
    width: 100%;
    height: em(400px);
}

.showing {
    display: block;
}

footer {
    background: #CCC;
}

.user-image {
    background-size: cover;
    background-position: center center;
    height: 200px;
}

.user-image.farmer {
    background-color: $farmerPrimary;
}

.user-image.beekeeper {
    background-color: $beekeeperPrimary;
}

.user-profile {
    margin-top: em(20px);
}
.business-name{
    font-size: 3em;
}

.active-request-info{
    @include outer-container;
}

@import "header-nav";
@import "landing";
@import "requests";
@import "reviews";
@import "user";
@import "desktop";
@import "../bower_components/Slidebars/distribution/0.9.4/slidebars";