<div class="top-info"></div>

<div class="request-container">
	<a href="#/requests">View All Requests</a>
</div>
<div class="review-container"></div>

<div class="near-users">
	<a href="#/search/{{user.userType}}">Find More</a>
</div>
