<section><div class="top-info"></div></section>
<section class='requests-container'>
	<div class="requests">
		<h1 class="main-title">Requests</h1>
		<div class='request-list'></div>
		<a href="#/requests" class="button">View All Requests</a>
	</div>
</section>
<section class='near-users-container'>
	<div class="near-users">
		<a href="#/search" class="button">Find More</a>
	</div>
</section>
<section class='reviews-container'>
	<div class="reviews">
		<h1 class="main-title">Reviews</h1>
		<div class="reviews-list"></div>
		<a href="#/search" class="button">View all Reviews</a>
	</div>
</section>