<div class="user-image farmer" {{#if user.image}}style="background-image: url({{user.image}})" {{/if}}></div>
<div class='user-profile'>
	<h1 class="business-name">{{user.businessName}}</h1>
	<div class="reviews"></div>
</div>