<div class="user-image farmer" {{#if user.image}}style="background-image: url({{user.image}})" {{/if}}></div>
<div class='user-profile'>
	<h1 class="business-name">{{user.businessName}}</h1>
	<div class="user-description">{{user.description}}</div>
</div>

<div class="newMessage-container">
<a href="#" class="button newMessage">Send a message</a>
</div>

<div class='reviews-container'>
	<div class="reviews-list-container">
		<h1 class="main-title">Reviews</h1>
		<div class="reviews"></div>
	</div>
</div>
