

<input name='numHives' value="" type='text'>
<button class='calculate' >calculate cost</button>

{{#if request}}
<p>Number of hives requested: {{request.numHives}}</p>
<p>Miles over: {{request.milesOver}}</p>
<p>Milage Cost: ${{request.milageCost}}</p>
<h3>Total Cost: ${{request.totalCost}}</h3>

<button class='getBees' >Get some Bees</button>

{{/if}}


{{!-- <label>Start</label>
<input type="date" name="startDate">
<input type="date" name="endDate"> --}}