

<input name='numHives' value="" type='text'>
<button class='calculate' >calculate cost</button>

{{#if user.cost}}
<p>Milage Cost: ${{user.cost.milage}}</p>
<h3>Total Cost: ${{user.cost.total}}</h3>

<button class='getBees' >Get some Bees</button>

{{/if}}


{{!-- <label>Start</label>
<input type="date" name="startDate">
<input type="date" name="endDate"> --}}