{{!-- <div class="form-container"></div>
<div class="search-results-container">
	<div class="left">
		<div class="search-list-container"></div>
	</div>
	<div class="map-container"></div>
	<img src="https://d13yacurqjgara.cloudfront.net/users/43718/screenshots/1137881/loadinganimation2.gif" >
</div>
 --}}

<div class="search-results-container">
	<div class="search-form-container">
	</div>	
	<div class="search-params"></div>
	<div class="search-list-container"></div>
</div>
<div class="map-container"><img src="https://d13yacurqjgara.cloudfront.net/users/43718/screenshots/1137881/loadinganimation2.gif" ></div>

	
