<a href="#user/{{user.objectId}}">{{user.businessName}}
<span class="user-details">
	<span class="hives">
	{{user.hivesAvailable}} hives available</span> | 
	<span class="hiveCost">${{user.costPerHive}}/hive</span>
</span>
</a>