<div class="review-body">
	<p>{{review.body}}</p>
</div>
<div class="review-info">
	<div><a href='#/user/{{reviewer.objectId}}'>{{reviewer.username}}</a>
	<p class="review-date">{{createdAt}}</p>
	</div>
</div>