
<ul>
	<li class='new-hive-group'>
	<input type="text" name="Name" placeholder="Name">
	<input type="text" name="hiveCount" placeholder="Number of Hives">
	<label for="availableBegin">Available starting<input type="date" name="availableBegin" placeholder="Available Start"></label>
	<label for="availableEnd">Ending<input type="date" name="availableEnd" placeholder="Available End"></label>
	</li>
</ul>
<input type="submit" value="Add Hives">