<ul>
	<li><h1>{{group.Name}}</h1></li>
	<li>{{group.hiveCount}} hives</li>
	<li>Available {{dateFormat group.availableEnd}} to {{dateFormat group.availableBegin}}</li>
	<button class="view">View</button>
	<button class="edit">Edit</button>
	<button class="delete">Delete</button>
</ul>