<div id="sb-site" class="{{user.userType}}">
    {{#if user}}
<header></header>

<div class="sb-slidebar sb-left">
    <nav class='off-canvas'>
        
    </nav>
</div>
{{else}}
<div class='noAuth-header'><img src="images/logo.png"></div>
{{/if}}

<section class="main-container"><img src='images/loader.gif' class="loader"></section>
<footer></footer>
</div>