<div id="sb-site" class="{{user.userType}}">
<header></header>
        <div class="sb-slidebar sb-left">
        <nav class='off-canvas'>
        <ul>
        <li><a href="#">Test</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Test</a></li>
        <li>Test</li>
        <li>Test</li>
        </ul></nav>
        </div>
<section class="main-container"><img src='https://d13yacurqjgara.cloudfront.net/users/43718/screenshots/1137881/loadinganimation2.gif'></section>
<footer></footer>
</div>