<div class='{{user.userType}}'>
<header></header>
<section class='menu'></section>
<section class="main-container"><img src='https://d13yacurqjgara.cloudfront.net/users/43718/screenshots/1137881/loadinganimation2.gif'></section>
<footer></footer>
</div>