{{#if session.user}}
<h2><a href="#/">{{user.username}}</a></h2>
<button class='show-menu'><span>Menu</span></button>
<input placeholder="search" class="search" type="search">
{{/if}}
{{#if session.user }}
<button class="account"><span>My account</span></button>
<button class="auth log-out"><span>Log out</span></button>
{{else}}
<button class="auth log-in"><span>Log in</span></button>
{{/if}}