{{#if session.user}}
	{{!-- <h2><a href="#/">{{user.username}}</a></h2> --}}
	<a href="#" class='sb-toggle-left show-menu'></a>
	{{!-- <input placeholder="search" class="search" type="search"> --}}
	<h1 class="logo"><a href="#/">Pollinate</a></h1>
{{/if}}
<nav class="main-menu"></nav>
