<ul>
	<li><h1>{{group.Name}}</h1></li>
	<li>{{group.hiveCount}} hives</li>
	<li>Available {{group.availableEnd}} to {{group.availableBegin}}</li>
	<button class="delete">Delete</button>
	<button class="edit">Edit</button>
	<button class="view">View</button>
</ul>