<input type="text" name="userName" value="" placeholder="Username">
<input type="password" name="pass" value="" placeholder="Password">
<input type="submit" name="" value="Login">

<p>Not signed up? <a href="#/newuser">Create account</a></p>