<input type="text" name="userName" value="" placeholder="Email address">
<input type="password" name="pass" value="" placeholder="password">
<input type="submit" name="" value="Login">

<p>Not logged in? <a href="#/newuser">Create account</a></p>