{{#if session.user}}
{{#if_eq user.userType "beekeeper"}}
<li><a href="#/search"  class="nav-link">Search for Farmers</a></li>
{{else}}
<li><a href="#/search" class="nav-link">Search for Beekeepers</a></li>
{{/if_eq}}
<li><a href="#/requests"  class="nav-link">Requests</a></li>
<li><a href="#/messages" class="nav-link">Messages</a></li>
<li><a href="#/reviews" class="nav-link">Reviews</a></li>
<li class="account"><a href="#" class="account-link">a</a>
    <ul class="admin-menu hidden">
    	<li class="howdy">Howdy, {{user.username}}!</li>
        <li><a href="#/account">My Account</a></li>
        <li><a href="#" class="log-out">Log-out</a></li>
    </ul>
</li>

{{else}}
<li><a class="log-in" href="#">Login</a></li>
{{/if}}