{{#if session.user}}
	{{#if_eq user.userType "beekeeper"}}
		<li><a href="#/requests">Requests</a></li>
		<li><a href="#/search">Search for Farmers</a></li>
	{{else}}
        <li><a href="#/requests">Requests</a></li>
		<li><a href="#/search">Search for Beekeepers</a></li>
	{{/if_eq}}
    <li><a href="#/reviews">Reviews</a></li>
    <li><a class="log-out" href="#">Logout</a></li>
    <li><a class="account" href="#"><span>a</span></a></li>

{{else}}
        <li><a class="log-in" href="#">Login</a></li>
    	{{!-- <li><a href="#/search">Search Farmers</a></li>
    	<li><a href="#/search">Search Beekeepers</a></li> --}}
{{/if}}