<ul>
    {{#if session.user}}
    	{{#if_eq user.userType "beekeeper"}}
    		<li><a href="#/requests">My requests</a></li>
    		<li><a href="#/search/farmer">Search for Farmers</a></li>
		{{else}}
    		<li><a href="#/requests">My Requests</a></li>
    		<li><a href="#/search/beekeeper">Search for Beekeepers</a></li>
    	{{/if_eq}}
    {{else}}
    	<li><a href="">Search Farmers</a></li>
    	<li><a href="">Search Beekeepers</a></li>
    {{/if}}

</ul>