<input type="text" name="userName" value="" placeholder="Username">
<select value="userType">
	<option>User Type</option>
	<option value="beekeeper">Beekeeper</option>
	<option value="farmer">Farmer</option>
</select>
<input type="password" name="pass" type="password" placeholder="password">
<input type="password" name="passCheck" placeholder="password">
<input type="submit" name="" value="Login">