{{log this}}

<section class='requests-container'>
	<div class="requests-list-container">
		<div class='requests'>
			<h1 class="main-title">Open Requests</h1>
		</div>
		<a href="#/requests" class="button">View All Requests</a>
	</div>
</section>

{{#if_eq userType 'beekeeper'}}
<section><div class="active-request-info"></div></section>
{{/if_eq}}

<section class='near-users-container'>
	<div class="near-users">
		<a href="#/search" class="button">Find More</a>
	</div>
</section>

<section class='reviews-container'>
	<div class="reviews-list-container">
		<h1 class="main-title">Reviews</h1>
		<div class="reviews"></div>
		<a href="#/reviews" class="button">View all Reviews</a>
	</div>
</section>